*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 30px;
    width: 150px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.25);
}